.git
.gitignore
.expo
node_modules
dist
web-build
.vscode
.tmp_stitch
coverage
.gradle-local
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env*.local
android/.gradle
android/build
android/app/build
android/app/.cxx
android/.kotlin
ios/build
ios/Pods
ios/.symlinks
